<!DOCTYPE html> 
<html>
<head>
    <title>Admin</title>
</head>
<body>
    <hr>
    <h3>Add a User</h3>

    <form action="/user-add" id="user" method="POST">
        <div>
            <label>Username</label><br>
            <input type="text" size="30" name="Username"><br>
            <label>First Name</label><br>
            <input type="text" size="20" name="FirstName"><br><br>
            <label>Last Name:</label><br>
            <input type="text" size="20" name="LastName"><br><br>
            <label>DOB:</label><br>
            <input type="text" size="20" name="Nickname"><br><br>
            <label>Sex:</label><br>
            <input type="text" size="20" name="Sex"><br><br>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
    <hr>
    <footer>
        <p>Moises Martinez : <a href="2021154670@ub.edu.bz">2021154670@ub.edu.bz</a></p>
        <p>George Kotch : <a href="2021154499@ub.edu.bz">2021154499@ub.edu.bz</a></p>
    </footer>
</body>
</html>
