<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quotebox</title>
</head>
<body>
    <h2>QuoteBox</h2>
    <hr>
    <h3>Add a Quote</h3>

    <form action="/quote-add" id="quoteform" method="post">
        <div>
            <label> Author</label> <br>
            <input type="text" size="30" name="author_name"><br>
            <label>Category</label><br>
            <input type="text" size="20" name="category"><br><br>
        </div>
        <div>
            <label>Quote</label><br>
            <textarea cols="50" rows="8" form="quoteform" name="quote">

            </textarea>
        </div>
        <br>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
    <hr>
    <footer>
        <p>
            <a href="mailto:2021154670@ub.edu.bz"> 2021154670@ub.edu.bz</a> </a>
        </p>
    </footer>
    
</body>
</html>